* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.cards {
  margin: 1rem;
  position: relative;
  height: 30rem;
  width: 30rem;
}
.fliper {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
  transform-style: preserve-3d;
}
.cards:hover .fliper {
  transform: rotateY(180deg);
  transition: 1s;
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front {
  background: lightblue;
  text-align: center;
}
.front img {
  width: 100%;
  height: 100%;
}
.back {
  transform: rotateY(180deg);
  background: red;
}
@media screen and (max-width: 425px) {
  .cards {
    width: 20rem;
    height: 20rem;
  }
}
