* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  min-width: 18rem;
}
header {
  margin: 0.5rem;
}
header img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
}
.ProfileStuff {
  margin: 0 auto;
  margin-left: 1rem;
  height: 6.5rem;
  min-width: 45rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.NamePic {
  position: relative;
  top: -4rem;
  width: 28rem;
}
.NamePic img {
  display: inline-block;
  position: relative;
  top: 0.5rem;
  width: 9.5rem;
  height: 9.5rem;
  border: 5px solid white;
  border-radius: 50%;
}
.NamePic h1 {
  display: inline-block;
}
.Interact {
  min-width: 21rem;
}
.Interact button {
  background: white;
  color: gray;
  font-size: 1.2rem;
  border: 1px solid gray;
  padding: 0.6rem 2rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
  cursor: pointer;
}
.Interact button svg {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  position: relative;
  top: 0.2rem;
}
@media screen and (max-width: 768px) {
  header img {
    height: 10rem;
  }

  .ProfileStuff {
    width: unset;
    padding: 0 1.7rem;
    display: block;
    position: relative;
    top: -4rem;
    min-width: unset;
    margin-left: unset;
  }
  .NamePic {
    position: relative;
    top: 0;
    width: unset;
  }
  .NamePic h1 {
    display: block;
    padding: 0;
    margin-top: 1.3rem;
  }
  .Interact {
    min-width: unset;
  }
  .Interact button {
    margin: 1rem 0;
    width: 100%;
    display: block;
  }
}
