* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Main {
  margin: 4rem auto;
  width: 17rem;
  height: 5rem;
  border: 1px solid black;
  text-align: center;
  place-content: center;
}
.Option {
  display: none;
}
.Option:checked + label {
  background: lightblue;
}
label {
  border: 1px solid black;
  padding: 7px;
  background: white;
}
label:hover {
  cursor: pointer;
}
