main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProgressBar {
  height: 50px;
  width: 600px;
  border: 2px black solid;
  /* position: relative; */
}
.Progress {
  margin: 0px;
  background: green;
  /* position: absolute; */
  height: 100%;
  width: 0%;
  animation-delay: 1s;
  animation-name: progress;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate-reverse; */
}
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
