main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: black;
}
.post {
  width: 26rem;
  height: 8rem;
  background: whitesmoke;
  border-radius: 10px;
  position: relative;
}
img {
  display: inline-block;
  margin-top: 5%;
  margin-left: 3%;
  width: 20%;
  height: 45%;
}
.Content {
  display: inline-block;
  position: absolute;
  top: 6%;
  left: 23%;
  margin: 10px;
}
.Content p {
  color: gray;
}
.dot {
  height: 0.4rem;
  width: 0.4rem;
  background: gray;
  margin: 0px 5px;
  border-radius: 50%;
  display: inline-block;
}
h2 {
  margin-bottom: 0.7rem;
}
.Like {
  position: relative;
  width: 80%;
  height: 25%;
  margin-left: 6.6rem;
}
.Like img {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  margin: 0;
  display: inline-block;
}
.Img2 {
  left: 0.95rem;
  border-radius: 50%;
  outline: 1px solid whitesmoke;
  outline-offset: -1px;
}
.Like p {
  margin-left: 2.6rem;
  color: gray;
}
.Shared {
  font-weight: bolder;
}
