.main {
  height: 100vh;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.btn:hover + .tp {
  visibility: visible;
}
.tp {
  visibility: hidden;
  display: block;
  border: 1px solid black;
  background: gray;
  opacity: 0.7;
  text-align: center;
  padding: 2px;
}
#btn1 {
  cursor: pointer;
}
